div {
  display: flex;
  padding: 15px;
  background-color: #ddd;
  // box-shadow: 3px 3px 3px 3px #ccc;
  justify-content: flex-end;
  align-items: baseline;

  #header-title {
    box-shadow: none;
    font-size: 30px;
    color: #222;
    font-weight: bold;
    margin-right: auto;

  }

  ul {
    justify-content: flex-end;

    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px;

      a {
        text-decoration: none;
        color: #222;
        font-size: 22px;
        font-weight: bold;

        &:hover {
          color: darken(blue, 25%);
        }
      }
    }
  }
}
